.sticky-wrapper {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    background: white;
    border-radius: 5px;
    padding: 16px;
    font-size: 14px;
    color: gray;
    opacity: 1;
    border: 1px solid gray;
}
.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
}

@keyframes ease-in {
    from {
      opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    } to {
      opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }   
}
